.board {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	position: relative;
}

.boardHold {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-right: 20px;
	margin-bottom: 300px;
}

.boardMatrix {
	margin-top: 100px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}